In [34]:
from sklearn.linear_model import LogisticRegression
import requests
import json
import time
import time 
import sqlalchemy as sqla
from sqlalchemy import create_engine
import csv
import pandas as pd
import numpy as np

#URI = "dublinbikesdatabase.ck8yyafvjq4p.eu-west-1.rds.amazonaws.com"
#PORT = "3306"
#DB = "dbbikes"
#USER = "Group26"
#PASSWORD = "Grouptwentysix"

#engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

In [ ]:
#conn = engine.connect()

#result = conn.execute("SELECT * FROM availability")

#data = result.fetchall()

#conn.close()#

In [ ]:
#with open("availability.csv", "w", newline="") as f:
    #writer = csv.writer(f)
    #writer.writerows(data)

In [ ]:
#conn = engine.connect()

#result = conn.execute("SELECT * FROM weather")

#data = result.fetchall()

#conn.close()

In [ ]:
#with open("weather.csv", "w", newline="") as f:
    #writer = csv.writer(f)
    #writer.writerows(data)

In [35]:
dfa = pd.read_csv('availability.csv', names=['number', 'available_bikes', 'available_bike_stands', 'time'])

In [36]:
dfw = pd.read_csv('weather.csv', names=['id', 'main', 'description', 'temp', 'feels_like', 'humidity', 'visibility',
                                            'speed','deg','all','dt'])

In [37]:
dfw.drop(['humidity','visibility','deg','all','description','deg','all','feels_like'], inplace=True, axis=1)

In [ ]:
startTime = 1677668400
endTime = 1680771600
times = np.linspace(startTime,endTime,863)

In [38]:
station_data = {}
grouped = dfa.groupby('number')

for name, group in grouped:
    new_station_df = pd.DataFrame(group, columns=['number','available_bikes','available_bike_stands','time'])
    station_data[name] = new_station_df

station_data = {f'df{key}': value for key, value in station_data.items()}
for name, df in station_data.items():
    globals()[name] = df

In [13]:
df1

         number  available_bikes  available_bike_stands        time
16            1               21                      9  1677669487
130           1               21                      9  1677669789
244           1               20                     10  1677670090
358           1               20                     10  1677670391
472           1               21                      9  1677670692
...         ...              ...                    ...         ...
1173991       1               14                     17  1680767900
1174105       1               17                     14  1680768201
1174219       1               17                     14  1680768502
1174333       1               17                     14  1680768803
1174447       1               18                     13  1680769105

[10280 rows x 4 columns]

In [39]:
dfw['dt'] = pd.to_datetime(dfw['dt'], unit='s')
dfw['dt'] = dfw['dt'].dt.floor('H') # Drop to nearest hour
dfw['dt'] = dfw['dt'].apply(lambda x: int(x.timestamp()))

dfa['time'] = pd.to_datetime(dfa['time'], unit='s')
dfa['time'] = dfa['time'].dt.floor('H') # Drop to nearest hour
dfa['time'] = dfa['time'].apply(lambda x: int(x.timestamp()))
dfa.tail(10)

         number  available_bikes  available_bike_stands        time
1174535       3               10                     10  1680768000
1174536      40               15                      6  1680768000
1174537      29                3                     26  1680768000
1174538     103                4                     36  1680768000
1174539      28               19                     11  1680768000
1174540      39                0                     20  1680768000
1174541      83               13                     27  1680768000
1174542      92               25                     15  1680768000
1174543      21               10                     20  1680768000
1174544      88               14                     15  1680768000

In [40]:
weather_data = {}
grouped = dfw.groupby('dt')

for name, group in grouped:
    new_station_df = pd.DataFrame(group, columns=['id','main','temp','speed','dt'])
    weather_data[name] = new_station_df

weather_data = {f'df{key}': value for key, value in weather_data.items()}
for name, df in weather_data.items():
    globals()[name] = df

In [46]:
for i in weather_data:
    print(i)

df0
df1677682800
df1677686400
df1677690000
df1677693600
df1677697200
df1677700800
df1677704400
df1677708000
df1677711600
df1677715200
df1677718800
df1677722400
df1677726000
df1677729600
df1677733200
df1677736800
df1677740400
df1677744000
df1677747600
df1677751200
df1677754800
df1677758400
df1677762000
df1677765600
df1677769200
df1677772800
df1677776400
df1677780000
df1677783600
df1677787200
df1677790800
df1677794400
df1677798000
df1677801600
df1677805200
df1677808800
df1677812400
df1677816000
df1677819600
df1677823200
df1677826800
df1677830400
df1677834000
df1677837600
df1677841200
df1677844800
df1677848400
df1677852000
df1677855600
df1677859200
df1677862800
df1677866400
df1677870000
df1677873600
df1677877200
df1677880800
df1677884400
df1677888000
df1677891600
df1677895200
df1677898800
df1677902400
df1677906000
df1677909600
df1677913200
df1677916800
df1677920400
df1677924000
df1677927600
df1677931200
df1677934800
df1677938400
df1677942000
df1677945600
df1677949200
df1677952800
df1677956400
df1677960000
df1677963600
df1677967200
df1677970800
df1677974400
df1677978000
df1677981600
df1677985200
df1677988800
df1677992400
df1677996000
df1677999600
df1678003200
df1678006800
df1678010400
df1678014000
df1678017600
df1678021200
df1678024800
df1678028400
df1678032000
df1678035600
df1678039200
df1678042800
df1678046400
df1678050000
df1678053600
df1678057200
df1678060800
df1678064400
df1678068000
df1678071600
df1678075200
df1678078800
df1678082400
df1678086000
df1678089600
df1678093200
df1678096800
df1678100400
df1678104000
df1678107600
df1678111200
df1678114800
df1678118400
df1678122000
df1678125600
df1678129200
df1678132800
df1678136400
df1678140000
df1678143600
df1678147200
df1678150800
df1678154400
df1678158000
df1678161600
df1678165200
df1678168800
df1678172400
df1678176000
df1678179600
df1678183200
df1678186800
df1678190400
df1678194000
df1678197600
df1678201200
df1678204800
df1678208400
df1678212000
df1678215600
df1678219200
df1678222800
df1678226400
df1678230000
df1678233600
df1678237200
df1678240800
df1678244400
df1678248000
df1678251600
df1678255200
df1678258800
df1678262400
df1678266000
df1678269600
df1678273200
df1678276800
df1678280400
df1678284000
df1678287600
df1678291200
df1678294800
df1678298400
df1678302000
df1678305600
df1678309200
df1678312800
df1678316400
df1678320000
df1678323600
df1678327200
df1678330800
df1678334400
df1678338000
df1678341600
df1678345200
df1678348800
df1678352400
df1678356000
df1678359600
df1678363200
df1678366800
df1678370400
df1678374000
df1678377600
df1678381200
df1678384800
df1678388400
df1678392000
df1678395600
df1678399200
df1678402800
df1678406400
df1678410000
df1678413600
df1678417200
df1678420800
df1678424400
df1678428000
df1678431600
df1678435200
df1678438800
df1678442400
df1678446000
df1678449600
df1678453200
df1678456800
df1678460400
df1678464000
df1678467600
df1678471200
df1678474800
df1678478400
df1678482000
df1678485600
df1678489200
df1678492800
df1678496400
df1678500000
df1678503600
df1678507200
df1678510800
df1678514400
df1678518000
df1678521600
df1678525200
df1678528800
df1678532400
df1678536000
df1678539600
df1678543200
df1678546800
df1678550400
df1678554000
df1678557600
df1678561200
df1678564800
df1678568400
df1678572000
df1678575600
df1678579200
df1678582800
df1678586400
df1678590000
df1678593600
df1678597200
df1678600800
df1678604400
df1678608000
df1678611600
df1678615200
df1678618800
df1678622400
df1678626000
df1678629600
df1678633200
df1678636800
df1678640400
df1678644000
df1678647600
df1678651200
df1678654800
df1678658400
df1678662000
df1678665600
df1678669200
df1678672800
df1678676400
df1678680000
df1678683600
df1678687200
df1678690800
df1678694400
df1678698000
df1678701600
df1678705200
df1678708800
df1678712400
df1678716000
df1678719600
df1678723200
df1678726800
df1678730400
df1678734000
df1678737600
df1678741200
df1678744800
df1678748400
df1678752000
df1678755600
df1678759200
df1678762800
df1678766400
df1678770000
df1678773600
df1678777200
df1678780800
df1678784400
df1678788000
df1678791600
df1678795200
df1678798800
df1678802400
df1678806000
df1678809600
df1678813200
df1678816800
df1678820400
df1678824000
df1678827600
df1678831200
df1678834800
df1678838400
df1678842000
df1678845600
df1678849200
df1678852800
df1678856400
df1678860000
df1678863600
df1678867200
df1678870800
df1678874400
df1678878000
df1678881600
df1678885200
df1678888800
df1678892400
df1678896000
df1678899600
df1678903200
df1678906800
df1678910400
df1678914000
df1678917600
df1678921200
df1678924800
df1678928400
df1678932000
df1678935600
df1678939200
df1678942800
df1678946400
df1678950000
df1678953600
df1678957200
df1678960800
df1678964400
df1678968000
df1678971600
df1678975200
df1678978800
df1678982400
df1678986000
df1678989600
df1678993200
df1678996800
df1679000400
df1679004000
df1679007600
df1679011200
df1679014800
df1679018400
df1679022000
df1679025600
df1679029200
df1679032800
df1679036400
df1679040000
df1679043600
df1679047200
df1679050800
df1679054400
df1679058000
df1679061600
df1679065200
df1679068800
df1679072400
df1679076000
df1679079600
df1679083200
df1679086800
df1679090400
df1679094000
df1679097600
df1679101200
df1679104800
df1679108400
df1679112000
df1679115600
df1679119200
df1679122800
df1679126400
df1679130000
df1679133600
df1679137200
df1679140800
df1679144400
df1679148000
df1679151600
df1679155200
df1679158800
df1679162400
df1679166000
df1679169600
df1679173200
df1679176800
df1679180400
df1679184000
df1679187600
df1679191200
df1679194800
df1679198400
df1679202000
df1679205600
df1679209200
df1679212800
df1679216400
df1679220000
df1679223600
df1679227200
df1679230800
df1679234400
df1679238000
df1679241600
df1679245200
df1679248800
df1679252400
df1679256000
df1679259600
df1679263200
df1679266800
df1679270400
df1679274000
df1679277600
df1679281200
df1679284800
df1679288400
df1679292000
df1679295600
df1679299200
df1679302800
df1679306400
df1679310000
df1679313600
df1679317200
df1679320800
df1679324400
df1679328000
df1679331600
df1679335200
df1679338800
df1679342400
df1679346000
df1679349600
df1679353200
df1679356800
df1679360400
df1679364000
df1679367600
df1679371200
df1679374800
df1679378400
df1679382000
df1679385600
df1679389200
df1679392800
df1679396400
df1679400000
df1679403600
df1679407200
df1679410800
df1679414400
df1679418000
df1679421600
df1679425200
df1679428800
df1679432400
df1679436000
df1679439600
df1679443200
df1679446800
df1679450400
df1679454000
df1679457600
df1679461200
df1679464800
df1679468400
df1679472000
df1679475600
df1679479200
df1679482800
df1679486400
df1679490000
df1679493600
df1679497200
df1679500800
df1679504400
df1679508000
df1679511600
df1679515200
df1679518800
df1679522400
df1679526000
df1679529600
df1679533200
df1679536800
df1679540400
df1679544000
df1679547600
df1679551200
df1679554800
df1679558400
df1679562000
df1679565600
df1679569200
df1679572800
df1679576400
df1679580000
df1679583600
df1679587200
df1679590800
df1679594400
df1679598000
df1679601600
df1679605200
df1679608800
df1679612400
df1679616000
df1679619600
df1679623200
df1679626800
df1679630400
df1679634000
df1679637600
df1679641200
df1679644800
df1679648400
df1679652000
df1679655600
df1679659200
df1679662800
df1679666400
df1679670000
df1679673600
df1679677200
df1679680800
df1679684400
df1679688000
df1679691600
df1679695200
df1679698800
df1679702400
df1679706000
df1679709600
df1679713200
df1679716800
df1679720400
df1679724000
df1679727600
df1679731200
df1679734800
df1679738400
df1679742000
df1679745600
df1679749200
df1679752800
df1679756400
df1679760000
df1679763600
df1679767200
df1679770800
df1679774400
df1679778000
df1679781600
df1679785200
df1679788800
df1679792400
df1679796000
df1679799600
df1679803200
df1679806800
df1679810400
df1679814000
df1679817600
df1679821200
df1679824800
df1679828400
df1679832000
df1679835600
df1679839200
df1679842800
df1679846400
df1679850000
df1679853600
df1679857200
df1679860800
df1679864400
df1679868000
df1679871600
df1679875200
df1679878800
df1679882400
df1679886000
df1679889600
df1679893200
df1679896800
df1679900400
df1679904000
df1679907600
df1679911200
df1679914800
df1679918400
df1679922000
df1679925600
df1679929200
df1679932800
df1679936400
df1679940000
df1679943600
df1679947200
df1679950800
df1679954400
df1679958000
df1679961600
df1679965200
df1679968800
df1679972400
df1679976000
df1679979600
df1679983200
df1679986800
df1679990400
df1679994000
df1679997600
df1680001200
df1680004800
df1680008400
df1680012000
df1680015600
df1680019200
df1680022800
df1680026400
df1680030000
df1680033600
df1680037200
df1680040800
df1680044400
df1680048000
df1680051600
df1680055200
df1680058800
df1680062400
df1680066000
df1680069600
df1680073200
df1680076800
df1680080400
df1680084000
df1680087600
df1680091200
df1680094800
df1680098400
df1680102000
df1680105600
df1680109200
df1680112800
df1680116400
df1680120000
df1680123600
df1680127200
df1680130800
df1680134400
df1680138000
df1680141600
df1680145200
df1680148800
df1680152400
df1680156000
df1680159600
df1680163200
df1680166800
df1680170400
df1680174000
df1680177600
df1680181200
df1680184800
df1680188400
df1680192000
df1680195600
df1680199200
df1680202800
df1680206400
df1680210000
df1680213600
df1680217200
df1680220800
df1680224400
df1680228000
df1680231600
df1680235200
df1680238800
df1680242400
df1680246000
df1680249600
df1680253200
df1680256800
df1680260400
df1680264000
df1680267600
df1680271200
df1680274800
df1680278400
df1680282000
df1680285600
df1680289200
df1680292800
df1680296400
df1680300000
df1680303600
df1680307200
df1680310800
df1680314400
df1680318000
df1680321600
df1680325200
df1680328800
df1680332400
df1680336000
df1680339600
df1680343200
df1680346800
df1680350400
df1680354000
df1680357600
df1680361200
df1680364800
df1680368400
df1680372000
df1680375600
df1680379200
df1680382800
df1680386400
df1680390000
df1680393600
df1680397200
df1680400800
df1680404400
df1680408000
df1680411600
df1680415200
df1680418800
df1680422400
df1680426000
df1680429600
df1680433200
df1680436800
df1680440400
df1680444000
df1680447600
df1680451200
df1680454800
df1680458400
df1680462000
df1680465600
df1680469200
df1680472800
df1680476400
df1680480000
df1680483600
df1680487200
df1680490800
df1680494400
df1680498000
df1680501600
df1680505200
df1680508800
df1680512400
df1680516000
df1680519600
df1680523200
df1680526800
df1680530400
df1680534000
df1680537600
df1680541200
df1680544800
df1680548400
df1680552000
df1680555600
df1680559200
df1680562800
df1680566400
df1680570000
df1680573600
df1680577200
df1680580800
df1680584400
df1680588000
df1680591600
df1680595200
df1680598800
df1680602400
df1680606000
df1680609600
df1680613200
df1680616800
df1680620400
df1680624000
df1680627600
df1680631200
df1680634800
df1680638400
df1680642000
df1680645600
df1680649200
df1680652800
df1680656400
df1680660000
df1680663600
df1680667200
df1680670800
df1680674400
df1680678000
df1680681600
df1680685200
df1680688800
df1680692400
df1680696000
df1680699600
df1680703200
df1680706800
df1680710400
df1680714000
df1680717600
df1680721200
df1680724800
df1680728400
df1680732000
df1680735600
df1680739200
df1680742800
df1680746400
df1680750000
df1680753600
df1680757200
df1680760800
df1680764400
df1680768000

In [55]:
df1677708000

      id    main    temp  speed          dt
128  803  Clouds  280.52   6.69  1677708000
130  803  Clouds  280.52   6.69  1677708000
131  803  Clouds  280.52   6.69  1677708000
132  803  Clouds  280.54   7.20  1677708000
133  803  Clouds  280.54   7.20  1677708000
134  803  Clouds  280.54   7.20  1677708000
135  803  Clouds  280.54   7.20  1677708000
136  803  Clouds  280.54   7.20  1677708000
137  803  Clouds  280.54   5.14  1677708000
138  803  Clouds  280.54   5.14  1677708000
139  803  Clouds  280.39   5.14  1677708000
140  803  Clouds  280.39   5.14  1677708000
141  803  Clouds  280.39   5.14  1677708000

In [73]:
cleanedWeather = pd.DataFrame(columns=['Time', 'Weather', 'Temp', 'Wind Speed'])

for key, value in weather_data.items():
    mode_value = value['main'].mode()[0]
    temp_mean = round(value['temp'].mean(),2)
    speed_mean = round(value['speed'].mean(),2)
    key = key[2:]
    cleanedWeather.loc[len(cleanedWeather)] = [key, mode_value, temp_mean, speed_mean]

In [74]:
cleanedWeather

           Time Weather    Temp  Wind Speed
0             0  Clouds  281.03        6.85
1    1677682800  Clouds  280.91        6.27
2    1677686400  Clouds  280.80        6.09
3    1677690000  Clouds  280.53        6.31
4    1677693600  Clouds  280.23        4.80
..          ...     ...     ...         ...
854  1680753600    Rain  280.46        4.68
855  1680757200  Clouds  280.50        3.56
856  1680760800    Rain  280.70        3.79
857  1680764400  Clouds  280.63        4.07
858  1680768000  Clouds  280.74        4.63

[859 rows x 4 columns]

In [ ]:
X = get_features(station=station_id)
y = get_availability(station=station_id)
X_train, X_test, y_train, y_test = train_test_split(X, y)

# fit final model
model[station_id] = LogisticRegression() # choose your own model here...
model[station_id].fit(X_train, y_train)

# evaluate...
# define one new instance
Xnew = [[date, time, wind, temp, ...]] # query features
# make a prediction
ynew = model[station_id].predict(Xnew)
print("X=%s, Predicted=%s" % (Xnew[0], ynew[0]))