In [44]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import requests
import json
import time
from datetime import datetime 
import sqlalchemy as sqla
from sqlalchemy import create_engine
import csv
import pandas as pd
import numpy as np
import pickle

Commented out code was used to import data from databases and save them to csv files.

In [ ]:
#URI = "dublinbikesdatabase.ck8yyafvjq4p.eu-west-1.rds.amazonaws.com"
#PORT = "3306"
#DB = "dbbikes"
#USER = "Group26"
#PASSWORD = "Grouptwentysix"

#engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

In [ ]:
#conn = engine.connect()
#result = conn.execute("SELECT * FROM availability")
#data = result.fetchall()
#conn.close()#

In [ ]:
#with open("availability.csv", "w", newline="") as f:
    #writer = csv.writer(f)
    #writer.writerows(data)

In [ ]:
#conn = engine.connect()
#result = conn.execute("SELECT * FROM weather")
#data = result.fetchall()
#conn.close()

In [ ]:
#with open("weather.csv", "w", newline="") as f:
    #writer = csv.writer(f)
    #writer.writerows(data)

In [2]:
dfa = pd.read_csv('availability.csv', names=['number', 'available_bikes', 'available_bike_stands', 'time'])

In [3]:
dfw = pd.read_csv('weather.csv', names=['id', 'main', 'description', 'temp', 'feels_like', 'humidity', 'visibility',
                                            'speed','deg','all','dt'])

In [8]:
dfw

,id,main,description,temp,feels_like,humidity,speed,dt
0,803,Clouds,broken clouds,280.37,276.45,77,7.20,0
1,803,Clouds,broken clouds,280.37,276.45,77,7.20,0
2,803,Clouds,broken clouds,280.37,276.45,77,7.20,0
3,803,Clouds,broken clouds,280.37,276.45,77,7.20,0
4,803,Clouds,broken clouds,280.48,276.59,78,7.20,0
...,...,...,...,...,...,...,...,...
10278,803,Clouds,broken clouds,280.69,277.83,90,4.63,1680768000
10279,803,Clouds,broken clouds,280.69,277.83,90,4.63,1680768000
10280,803,Clouds,broken clouds,280.80,277.96,91,4.63,1680768000
10281,803,Clouds,broken clouds,280.80,277.96,91,4.63,1680768000
10282,803,Clouds,broken clouds,280.80,277.96,91,4.63,1680768000

In [5]:
dfw.drop(['visibility','deg','all','deg','all'], inplace=True, axis=1)

In [ ]:
startTime = 1677668400
endTime = 1680771600
times = np.linspace(startTime,endTime,863)

In [ ]:
for i in dfa.index:
    if dfa['number'][i] == 1:
        print(dfa.loc[i])
        print()

In [6]:
dfw['dt'] = pd.to_datetime(dfw['dt'], unit='s')
dfw['dt'] = dfw['dt'].dt.floor('H') # Drop to nearest hour
dfw['dt'] = dfw['dt'].apply(lambda x: int(x.timestamp()))

dfa['time'] = pd.to_datetime(dfa['time'], unit='s')
dfa['time'] = dfa['time'].dt.floor('H') # Drop to nearest hour
dfa['time'] = dfa['time'].apply(lambda x: int(x.timestamp()))
dfa.tail(10)

         number  available_bikes  available_bike_stands        time
1174535       3               10                     10  1680768000
1174536      40               15                      6  1680768000
1174537      29                3                     26  1680768000
1174538     103                4                     36  1680768000
1174539      28               19                     11  1680768000
1174540      39                0                     20  1680768000
1174541      83               13                     27  1680768000
1174542      92               25                     15  1680768000
1174543      21               10                     20  1680768000
1174544      88               14                     15  1680768000

In [93]:
station_data = {}
grouped = dfa.groupby('number')

for name, group in grouped:
    new_station_df = pd.DataFrame(group, columns=['number','available_bikes','available_bike_stands','time'])
    station_data[name] = new_station_df

In [9]:
weather_data = {}
grouped = dfw.groupby('dt')

for name, group in grouped:
    new_station_df = pd.DataFrame(group, columns=['id','main','description','temp','feels_like','humidity','speed','dt'])
    weather_data[name] = new_station_df

weather_data = {f'df{key}': value for key, value in weather_data.items()}
for name, df in weather_data.items():
    globals()[name] = df

In [13]:
cleanedWeather = pd.DataFrame(columns=['Time', 'Weather', 'Description', 'Temp', 'Feels Like', 'Humidity', 'Wind Speed'])

for key, value in weather_data.items():
    main_mode = value['main'].mode()[0]
    desc_mode = value['description'].mode()[0]
    temp_mean = round(value['temp'].mean(),2)
    feels_mean = round(value['feels_like'].mean(),2)
    humidity_mean = round(value['humidity'].mean(),2)
    speed_mean = round(value['speed'].mean(),2)
    key = key[2:]
    cleanedWeather.loc[len(cleanedWeather)] = [key, main_mode, desc_mode, temp_mean, feels_mean, humidity_mean, speed_mean]

In [14]:
cleanedWeather

,Time,Weather,Description,Temp,Feels Like,Humidity,Wind Speed
0,0,Clouds,broken clouds,281.03,277.42,74.64,6.85
1,1677682800,Clouds,broken clouds,280.91,277.45,74.20,6.27
2,1677686400,Clouds,broken clouds,280.80,277.38,74.00,6.09
3,1677690000,Clouds,scattered clouds,280.53,276.96,76.18,6.31
4,1677693600,Clouds,broken clouds,280.23,277.20,78.33,4.80
...,...,...,...,...,...,...,...
854,1680753600,Rain,light intensity shower rain,280.46,277.53,87.45,4.68
855,1680757200,Clouds,broken clouds,280.50,278.16,86.73,3.56
856,1680760800,Rain,light intensity shower rain,280.70,278.36,88.42,3.79
857,1680764400,Clouds,broken clouds,280.63,278.03,89.92,4.07
858,1680768000,Clouds,broken clouds,280.74,277.89,90.29,4.63

In [15]:
# Takes a while to run
cleanedStations = pd.DataFrame(columns=['Station','Available Bikes','Available Stands','Time'])
for station in station_data.values():
    grouped = station.groupby('time')
    for time, group in grouped:
        mean_bikes = round(group['available_bikes'].mean())
        mean_stands = round(group['available_bike_stands'].mean())
        cleanedStations.loc[len(cleanedStations)] = [group.iloc[0]['number'], mean_bikes, mean_stands, time]

In [16]:
cleanedStations.dtypes

Station             int64
Available Bikes     int64
Available Stands    int64
Time                int64
dtype: object

In [17]:
cleanedWeather['Time'] = cleanedWeather['Time'].astype('int64')
cleanedWeather.dtypes

Time             int64
Weather         object
Description     object
Temp           float64
Feels Like     float64
Humidity       float64
Wind Speed     float64
dtype: object

In [18]:
cleanedStations

       Station  Available Bikes  Available Stands        Time
0            1               21                 9  1677668400
1            1               22                 8  1677672000
2            1               22                 8  1677675600
3            1               23                 8  1677679200
4            1               23                 8  1677682800
...        ...              ...               ...         ...
98483      507                1                 0  1678449600
98484      507                1                 0  1678453200
98485      507                1                 0  1678456800
98486      507                1                 0  1678460400
98487      507                1                 0  1678464000

[98488 rows x 4 columns]

In [19]:
df = pd.merge(cleanedStations, cleanedWeather, on='Time')

In [20]:
df = df.sort_values(['Station', 'Time'], ascending=[True, True])
df['Day'] = 'day'
df['Hour'] = 'hour'
df

,Station,Available Bikes,Available Stands,Time,Weather,Description,Temp,Feels Like,Humidity,Wind Speed,Day,Hour
0,1,23,8,1677682800,Clouds,broken clouds,280.91,277.45,74.20,6.27,day,hour
115,1,24,6,1677686400,Clouds,broken clouds,280.80,277.38,74.00,6.09,day,hour
230,1,19,12,1677690000,Clouds,scattered clouds,280.53,276.96,76.18,6.31,day,hour
345,1,17,14,1677693600,Clouds,broken clouds,280.23,277.20,78.33,4.80,day,hour
460,1,15,16,1677697200,Clouds,broken clouds,280.33,277.19,78.67,5.14,day,hour
...,...,...,...,...,...,...,...,...,...,...,...,...
24609,507,1,0,1678449600,Clouds,broken clouds,276.66,273.57,85.82,3.41,day,hour
24724,507,1,0,1678453200,Clouds,broken clouds,277.71,275.36,79.25,2.74,day,hour
24839,507,1,0,1678456800,Clouds,broken clouds,278.65,276.86,59.83,2.27,day,hour
24954,507,1,0,1678460400,Clouds,broken clouds,278.87,277.10,55.54,2.31,day,hour
25069,507,1,0,1678464000,Clouds,few clouds,278.52,275.76,58.64,3.51,day,hour

In [21]:
for i in df.index:
    date = datetime.fromtimestamp(df['Time'][i])
    day = date.strftime("%A")
    hour = date.strftime("%H")
    x = df.loc[i, 'Day']
    df.loc[i, 'Day'] = x.replace(x, day)
    y = df.loc[i, 'Hour']
    df.loc[i, 'Hour'] = y.replace(y, hour)
df

,Station,Available Bikes,Available Stands,Time,Weather,Description,Temp,Feels Like,Humidity,Wind Speed,Day,Hour
0,1,23,8,1677682800,Clouds,broken clouds,280.91,277.45,74.20,6.27,Wednesday,15
115,1,24,6,1677686400,Clouds,broken clouds,280.80,277.38,74.00,6.09,Wednesday,16
230,1,19,12,1677690000,Clouds,scattered clouds,280.53,276.96,76.18,6.31,Wednesday,17
345,1,17,14,1677693600,Clouds,broken clouds,280.23,277.20,78.33,4.80,Wednesday,18
460,1,15,16,1677697200,Clouds,broken clouds,280.33,277.19,78.67,5.14,Wednesday,19
...,...,...,...,...,...,...,...,...,...,...,...,...
24609,507,1,0,1678449600,Clouds,broken clouds,276.66,273.57,85.82,3.41,Friday,12
24724,507,1,0,1678453200,Clouds,broken clouds,277.71,275.36,79.25,2.74,Friday,13
24839,507,1,0,1678456800,Clouds,broken clouds,278.65,276.86,59.83,2.27,Friday,14
24954,507,1,0,1678460400,Clouds,broken clouds,278.87,277.10,55.54,2.31,Friday,15
25069,507,1,0,1678464000,Clouds,few clouds,278.52,275.76,58.64,3.51,Friday,16

In [62]:
#df.to_csv('cleaned_training_dataset.csv', index=False)
df = pd.read_csv('cleaned_training_dataset.csv')
df.drop('Time', inplace=True, axis=1)
for i in df.index:
    if df['Day'][i] in ['Saturday','Sunday']:
        x = df.loc[i, 'Day']
        y = 'Weekend'
        df.loc[i, 'Day'] = x.replace(x, y)
    elif df['Day'][i] not in ['Saturday','Sunday']:
        x = df.loc[i, 'Day']
        y = 'Weekday'
        df.loc[i, 'Day'] = x.replace(x, y)
df[['Station','Temp','Weather','Description','Day']] =\
                df[['Station','Temp','Weather','Description','Day']].astype('category')
df

,Station,Available Bikes,Available Stands,Weather,Description,Temp,Feels Like,Humidity,Wind Speed,Day,Hour
0,1,23,8,Clouds,broken clouds,280.91,277.45,74.20,6.27,Weekday,15
1,1,24,6,Clouds,broken clouds,280.80,277.38,74.00,6.09,Weekday,16
2,1,19,12,Clouds,scattered clouds,280.53,276.96,76.18,6.31,Weekday,17
3,1,17,14,Clouds,broken clouds,280.23,277.20,78.33,4.80,Weekday,18
4,1,15,16,Clouds,broken clouds,280.33,277.19,78.67,5.14,Weekday,19
...,...,...,...,...,...,...,...,...,...,...,...
98025,507,1,0,Clouds,broken clouds,276.66,273.57,85.82,3.41,Weekday,12
98026,507,1,0,Clouds,broken clouds,277.71,275.36,79.25,2.74,Weekday,13
98027,507,1,0,Clouds,broken clouds,278.65,276.86,59.83,2.27,Weekday,14
98028,507,1,0,Clouds,broken clouds,278.87,277.10,55.54,2.31,Weekday,15
98029,507,1,0,Clouds,few clouds,278.52,275.76,58.64,3.51,Weekday,16

In [2]:
#df.to_csv('cleaned_training_dataset_2.csv', index=False)
df = pd.read_csv('cleaned_training_dataset_2.csv')

In [3]:
df = df[df['Station'] != 507]

In [4]:
df

,Station,Available Bikes,Available Stands,Weather,Description,Temp,Feels Like,Humidity,Wind Speed,Day,Hour
0,1,23,8,Clouds,broken clouds,280.91,277.45,74.20,6.27,Weekday,15
1,1,24,6,Clouds,broken clouds,280.80,277.38,74.00,6.09,Weekday,16
2,1,19,12,Clouds,scattered clouds,280.53,276.96,76.18,6.31,Weekday,17
3,1,17,14,Clouds,broken clouds,280.23,277.20,78.33,4.80,Weekday,18
4,1,15,16,Clouds,broken clouds,280.33,277.19,78.67,5.14,Weekday,19
...,...,...,...,...,...,...,...,...,...,...,...
97807,117,0,40,Rain,light intensity shower rain,280.46,277.53,87.45,4.68,Weekday,5
97808,117,0,40,Clouds,broken clouds,280.50,278.16,86.73,3.56,Weekday,6
97809,117,1,39,Rain,light intensity shower rain,280.70,278.36,88.42,3.79,Weekday,7
97810,117,2,38,Clouds,broken clouds,280.63,278.03,89.92,4.07,Weekday,8
97811,117,2,38,Clouds,broken clouds,280.74,277.89,90.29,4.63,Weekday,9

In [ ]:
weather_data = {}
grouped = dfw.groupby('dt')

for name, group in grouped:
    new_station_df = pd.DataFrame(group, columns=['id','main','description','temp','feels_like','humidity','speed','dt'])
    weather_data[name] = new_station_df

weather_data = {f'df{key}': value for key, value in weather_data.items()}
for name, df in weather_data.items():
    globals()[name] = df

In [25]:
stationDataframes = {}
for i in sorted(pd.unique(df["Station"].ravel())):
    newDB = df[df['Station'] == i]
    name = str(i)
    stationDataframes[name] = newDB

In [45]:
for key, value in stationDataframes.items():
    DF = pd.get_dummies(value, columns=['Station','Weather', 'Description', 'Day'])
    X = DF.drop(['Available Bikes', 'Available Stands'], axis=1)
    y_bikes = DF['Available Bikes']
    y_stands = DF['Available Stands']
    
    X_train, X_test, y_train_bikes, y_test_bikes, y_train_stands, y_test_stands = train_test_split(X, y_bikes, y_stands, \
                                                                                                    test_size=0.2, random_state=36)
    bikesModel = RandomForestRegressor(n_estimators=100, random_state=36)
    standsModel = RandomForestRegressor(n_estimators=100, random_state=36)
    
    bikesModel.fit(X_train, y_train_bikes)
    standsModel.fit(X_train, y_train_stands)
    
    bikesFile = f"bikes_station_{key}.pkl"
    standsFile =f"stands_station_{key}.pkl"
    
    pickle.dump(bikesModel, open(bikesFile, 'wb'))
    pickle.dump(standsModel, open(standsFile, 'wb'))
    
    y_pred_bikes = bikesModel.predict(X_test)
    y_pred_stands = standsModel.predict(X_test)
    mse_bikes = mean_squared_error(y_test_bikes, y_pred_bikes)
    mse_stands = mean_squared_error(y_test_stands, y_pred_stands)
    print(f'Station {key} MSE for available bikes:', mse_bikes)
    print(f'Station {key} MSE for available stands:', mse_stands)
    print(r2_score(y_test_stands, y_pred_stands))
    print(r2_score(y_test_bikes, y_pred_bikes))

Station 1 MSE for available bikes: 32.772627906976744
Station 1 MSE for available stands: 31.47366395348837
0.6367070695499635
0.6205888232543306
Station 2 MSE for available bikes: 13.599822093023255
Station 2 MSE for available stands: 13.647819767441861
0.4237211473135528
0.4207842850232645
Station 3 MSE for available bikes: 9.166104069767442
Station 3 MSE for available stands: 9.159284302325583
0.601031451826636
0.6010468927650859
Station 4 MSE for available bikes: 12.577686046511628
Station 4 MSE for available stands: 12.802276162790697
0.6648471115224956
0.6671402427624358
Station 5 MSE for available bikes: 46.411781976744194
Station 5 MSE for available stands: 47.40775930232558
0.7589065236539614
0.7631677400804167
Station 6 MSE for available bikes: 13.075063953488373
Station 6 MSE for available stands: 16.916770930232556
0.6010648422005829
0.6410131005501563
Station 7 MSE for available bikes: 27.022448837209303
Station 7 MSE for available stands: 26.608255813953487
0.4582256408279902
0.44633791809537915
Station 8 MSE for available bikes: 42.77373197674418
Station 8 MSE for available stands: 42.056220930232556
0.3090325443409079
0.2903157658243751
Station 9 MSE for available bikes: 16.529801162790697
Station 9 MSE for available stands: 17.070198255813953
0.661855635005715
0.6724516028863408
Station 10 MSE for available bikes: 13.283186627906975
Station 10 MSE for available stands: 13.347683139534881
0.45167657240455195
0.4510145929581971
Station 11 MSE for available bikes: 22.100747674418603
Station 11 MSE for available stands: 21.211233720930235
0.626422236787977
0.608137464032388
Station 12 MSE for available bikes: 9.19509476744186
Station 12 MSE for available stands: 9.147756395348837
0.651870876898695
0.6497431493126908
Station 13 MSE for available bikes: 19.30196337209302
Station 13 MSE for available stands: 18.4741488372093
0.6245747357271361
0.6010791377883034
Station 14 MSE for available bikes: 24.171852325581398
Station 14 MSE for available stands: 25.23769302325581
0.66249043459393
0.6747006280810978
Station 15 MSE for available bikes: 4.79591511627907
Station 15 MSE for available stands: 4.732416279069767
0.4503856884321108
0.4523671842614142
Station 16 MSE for available bikes: 12.22931046511628
Station 16 MSE for available stands: 13.229333139534884
0.4909644140212964
0.5235937989436661
Station 17 MSE for available bikes: 8.108904069767444
Station 17 MSE for available stands: 7.856069186046511
0.6582951793695602
0.6497777761556609
Station 18 MSE for available bikes: 22.873548837209302
Station 18 MSE for available stands: 23.10447325581395
0.6044520168514618
0.6022765405889583
Station 19 MSE for available bikes: 20.076148837209303
Station 19 MSE for available stands: 20.039025581395347
0.7816694271402829
0.7738567097529809
Station 20 MSE for available bikes: 11.05039534883721
Station 20 MSE for available stands: 11.437757558139536
0.8276120493135806
0.8309394631577042
Station 21 MSE for available bikes: 27.720076162790694
Station 21 MSE for available stands: 28.437329069767443
0.68541006064146
0.6920292272102508
Station 22 MSE for available bikes: 13.59348430232558
Station 22 MSE for available stands: 13.787913953488372
0.5608043456398782
0.5632544338701568
Station 23 MSE for available bikes: 39.284368604651156
Station 23 MSE for available stands: 22.98627441860465
0.558431594312816
0.5179368223176422
Station 24 MSE for available bikes: 18.472766860465114
Station 24 MSE for available stands: 18.414463953488372
0.43020747857682995
0.41472045742975294
Station 25 MSE for available bikes: 18.629025
Station 25 MSE for available stands: 18.372847674418605
0.6685749860976966
0.6514651528441722
Station 26 MSE for available bikes: 12.990573837209304
Station 26 MSE for available stands: 13.13334941860465
0.5487521785586532
0.5456539659045232
Station 27 MSE for available bikes: 11.51790523255814
Station 27 MSE for available stands: 11.273897674418604
0.7028066779772173
0.6975289750918742
Station 28 MSE for available bikes: 29.428854651162784
Station 28 MSE for available stands: 28.97138604651163
0.26402985751834795
0.25248372439657674
Station 29 MSE for available bikes: 26.88816918604651
Station 29 MSE for available stands: 27.091283720930235
0.6128775376595825
0.6153691883224893
Station 30 MSE for available bikes: 11.632436046511629
Station 30 MSE for available stands: 14.762654069767443
0.4316943338382183
0.3256981636347961
Station 31 MSE for available bikes: 15.98546918604651
Station 31 MSE for available stands: 16.008888953488373
0.4230047040993352
0.4260994734446961
Station 32 MSE for available bikes: 42.95532267441861
Station 32 MSE for available stands: 43.45302790697674
0.35885081336009284
0.3664709268848606
Station 33 MSE for available bikes: 22.05533895348837
Station 33 MSE for available stands: 20.966187790697674
0.4607917084158102
0.42373561394971326
Station 34 MSE for available bikes: 27.034443604651162
Station 34 MSE for available stands: 26.80821162790698
0.765546270647512
0.7640954442071334
Station 35 MSE for available bikes: 26.57760406976744
Station 35 MSE for available stands: 27.24202906976744
0.6082615626604035
0.6206150768326617
Station 36 MSE for available bikes: 26.278634883720933
Station 36 MSE for available stands: 26.88965465116279
0.5683505839314269
0.5704259981003037
Station 37 MSE for available bikes: 8.403158139534884
Station 37 MSE for available stands: 8.419166860465117
0.6406433171213103
0.6397136387615144
Station 38 MSE for available bikes: 46.606605813953486
Station 38 MSE for available stands: 46.81661627906977
0.5012541268291698
0.5013757178793214
Station 39 MSE for available bikes: 13.288620348837208
Station 39 MSE for available stands: 13.059603488372092
0.5386405642037286
0.5173819305432622
Station 40 MSE for available bikes: 17.815178488372094
Station 40 MSE for available stands: 18.498832558139533
0.5675273699408034
0.5735484342773547
Station 41 MSE for available bikes: 14.175414534883721
Station 41 MSE for available stands: 14.507756395348837
0.5902352197390932
0.6010401365365643
Station 42 MSE for available bikes: 27.369992441860468
Station 42 MSE for available stands: 27.31411046511628
0.6341131945271427
0.6386862557211492
Station 43 MSE for available bikes: 28.72596511627907
Station 43 MSE for available stands: 29.538466860465114
0.7022411311665385
0.7068782102865065
Station 44 MSE for available bikes: 23.44491860465116
Station 44 MSE for available stands: 23.449656395348832
0.6707619012183148
0.6693270389278025
Station 45 MSE for available bikes: 32.52401627906976
Station 45 MSE for available stands: 32.101034883720935
0.5160306849169862
0.5092186912913258
Station 47 MSE for available bikes: 45.4715761627907
Station 47 MSE for available stands: 45.065538372093016
0.5206695261663202
0.5156816198008624
Station 48 MSE for available bikes: 43.194989534883725
Station 48 MSE for available stands: 43.33447790697674
0.4655940837178436
0.4538288040340094
Station 49 MSE for available bikes: 55.095182558139534
Station 49 MSE for available stands: 54.48676860465117
0.5266133187826787
0.5219561617142212
Station 50 MSE for available bikes: 59.00134476744186
Station 50 MSE for available stands: 58.5075738372093
0.6015622567813035
0.5974781423300434
Station 51 MSE for available bikes: 55.579715116279075
Station 51 MSE for available stands: 55.22163023255814
0.4347599040216452
0.43573486643630766
Station 52 MSE for available bikes: 21.192737790697674
Station 52 MSE for available stands: 21.171038372093022
0.6220285605832474
0.6187254553802464
Station 53 MSE for available bikes: 14.120981395348839
Station 53 MSE for available stands: 14.358582558139535
0.7055709269660001
0.7103836244482451
Station 54 MSE for available bikes: 14.382832558139535
Station 54 MSE for available stands: 14.413304069767438
0.4909639766590106
0.48463264521067595
Station 55 MSE for available bikes: 10.624691860465116
Station 55 MSE for available stands: 10.70665581395349
0.7239255782170624
0.7154704934534499
Station 56 MSE for available bikes: 32.87253546511628
Station 56 MSE for available stands: 33.964209302325585
0.5967209532310576
0.5931221660519924
Station 57 MSE for available bikes: 13.79934593023256
Station 57 MSE for available stands: 13.987091279069768
0.5358362319864765
0.5346781933324822

Station 58 MSE for available bikes: 40.97916860465116
Station 58 MSE for available stands: 40.25340174418605
0.6675979407013775
0.6588682315467214
Station 59 MSE for available bikes: 14.105869186046512
Station 59 MSE for available stands: 14.324816860465114
0.34748843361027815
0.35746174715305445
Station 60 MSE for available bikes: 22.331905232558135
Station 60 MSE for available stands: 22.46388081395349
0.7628457414065357
0.7631252657578667
Station 61 MSE for available bikes: 8.80240523255814
Station 61 MSE for available stands: 8.844302906976743
0.3708812543430017
0.3845516400668363
Station 62 MSE for available bikes: 17.510462790697677
Station 62 MSE for available stands: 63.028971511627915
0.540928092314207
0.6718347438778178
Station 63 MSE for available bikes: 22.67336686046512
Station 63 MSE for available stands: 21.83336395348837
0.47840287156992345
0.46244696931205564
Station 64 MSE for available bikes: 37.03340581395349
Station 64 MSE for available stands: 36.155941279069765
0.4750658270761561
0.4630082825225169
Station 65 MSE for available bikes: 56.709287209302325
Station 65 MSE for available stands: 57.40400988372092
0.6963595787683455
0.6960919616569805
Station 66 MSE for available bikes: 36.34166453488372
Station 66 MSE for available stands: 36.03080988372093
0.5992981354958009
0.5899285824787095
Station 67 MSE for available bikes: 38.198648255813964
Station 67 MSE for available stands: 38.34305697674419
0.6527868039878946
0.6492495608126982
Station 68 MSE for available bikes: 48.791011627906975
Station 68 MSE for available stands: 49.076775
0.5957280532210194
0.5917664847277972
Station 69 MSE for available bikes: 65.65771104651162
Station 69 MSE for available stands: 65.83825348837209
0.5292369888610161
0.522545244324623
Station 71 MSE for available bikes: 17.452619767441863
Station 71 MSE for available stands: 17.614731395348837
0.5587349106443514
0.5653666824923818
Station 72 MSE for available bikes: 24.421606976744183
Station 72 MSE for available stands: 24.638012790697672
0.3443025669581614
0.34591535171739507
Station 73 MSE for available bikes: 20.009460465116284
Station 73 MSE for available stands: 20.13629825581395
0.5199658917677092
0.5229896086879793
Station 74 MSE for available bikes: 19.227777325581396
Station 74 MSE for available stands: 19.115230813953488
0.626420406844737
0.6242208477374356
Station 75 MSE for available bikes: 32.3115988372093
Station 75 MSE for available stands: 32.59458953488372
0.6026091904304265
0.6028064143907862
Station 76 MSE for available bikes: 32.61895697674419
Station 76 MSE for available stands: 33.0137238372093
0.4646424139705878
0.4707913769087171
Station 77 MSE for available bikes: 23.767759883720927
Station 77 MSE for available stands: 23.44668546511628
0.6813929471141502
0.6741915744737637
Station 78 MSE for available bikes: 35.94351802325581
Station 78 MSE for available stands: 37.35269011627907
0.374068510894759
0.3825784456129432
Station 79 MSE for available bikes: 12.202865116279071
Station 79 MSE for available stands: 12.695457558139537
0.4766248015651824
0.4876593584132337
Station 80 MSE for available bikes: 34.18035174418605
Station 80 MSE for available stands: 33.62772906976744
0.4278603385876901
0.4184169178138919
Station 82 MSE for available bikes: 2.3642720930232564
Station 82 MSE for available stands: 2.5300104651162787
0.6000778516317938
0.6244624186585915
Station 83 MSE for available bikes: 37.92037674418605
Station 83 MSE for available stands: 37.908780232558136
0.5781034766510962
0.5791657317431831
Station 84 MSE for available bikes: 24.674125
Station 84 MSE for available stands: 24.653073255813954
0.5097134665078396
0.5092948011928161
Station 85 MSE for available bikes: 36.02274186046512
Station 85 MSE for available stands: 35.57283488372093
0.5790350295747216
0.573226053432403
Station 86 MSE for available bikes: 48.85956337209302
Station 86 MSE for available stands: 49.965916279069766
0.6867709087318346
0.6917621583836858
Station 87 MSE for available bikes: 25.28903953488372
Station 87 MSE for available stands: 45.86275813953489
0.6162602915372736
0.5318330322776045
Station 88 MSE for available bikes: 22.08230697674419
Station 88 MSE for available stands: 21.867887209302328
0.7083097223092665
0.7050124493139205
Station 89 MSE for available bikes: 3.1205872093023257
Station 89 MSE for available stands: 3.1510895348837216
0.7143545133367037
0.7152066953970688
Station 90 MSE for available bikes: 15.101901744186048
Station 90 MSE for available stands: 14.433518604651162
0.9058973719216187
0.9000928551382756
Station 91 MSE for available bikes: 42.623590116279075
Station 91 MSE for available stands: 42.90497034883721
0.41831340632710434
0.42038575639012576
Station 92 MSE for available bikes: 34.08679186046512
Station 92 MSE for available stands: 34.44531453488372
0.7944034638459415
0.7963989359852807
Station 93 MSE for available bikes: 20.72370930232558
Station 93 MSE for available stands: 20.688734883720933
0.8898980294974553
0.8894882135703646
Station 94 MSE for available bikes: 28.875880813953486
Station 94 MSE for available stands: 29.12038081395349
0.48901794700242707
0.49398984264631407
Station 95 MSE for available bikes: 36.18726162790697
Station 95 MSE for available stands: 36.48955290697674
0.5793324646477873
0.5805504792331018
Station 96 MSE for available bikes: 17.033818604651167
Station 96 MSE for available stands: 16.965377906976745
0.4292890670839038
0.4269867396831605
Station 97 MSE for available bikes: 38.754993023255814
Station 97 MSE for available stands: 38.85207558139535
0.6076266000125625
0.6091422324478764
Station 98 MSE for available bikes: 47.761475581395345
Station 98 MSE for available stands: 48.344295930232555
0.5879858683950574
0.5902626703679957
Station 99 MSE for available bikes: 8.148956395348836
Station 99 MSE for available stands: 8.330741279069766
0.7836862398494577
0.7821042882514835
Station 100 MSE for available bikes: 12.226264534883722
Station 100 MSE for available stands: 12.362888372093023
0.8409563181763431
0.8443550880828747
Station 101 MSE for available bikes: 21.89211744186046
Station 101 MSE for available stands: 22.1623511627907
0.666110228627446
0.6700391463745168
Station 102 MSE for available bikes: 21.543787209302327
Station 102 MSE for available stands: 21.524163372093025
0.4615191392706497
0.456453338495743
Station 103 MSE for available bikes: 13.319979069767442
Station 103 MSE for available stands: 13.70917558139535
0.5804517585818795
0.5912547031952102
Station 104 MSE for available bikes: 20.800321511627907
Station 104 MSE for available stands: 21.33238139534884
0.4912033073948784
0.4970089696295963
Station 105 MSE for available bikes: 22.57816976744186
Station 105 MSE for available stands: 22.670838372093023
0.5595640634727173
0.5602505601607438
Station 106 MSE for available bikes: 27.93230639534884
Station 106 MSE for available stands: 27.40619593023256
0.4615340320415797
0.4602438768151914
Station 107 MSE for available bikes: 29.286708720930232
Station 107 MSE for available stands: 29.229358720930232
0.534690529542144
0.5348580816193303
Station 108 MSE for available bikes: 27.322599418604653
Station 108 MSE for available stands: 26.744254069767443
0.47352422308090025
0.4619361620491792
Station 109 MSE for available bikes: 23.833656395348836
Station 109 MSE for available stands: 23.84959127906977
0.6332136775827544
0.633819470392446
Station 110 MSE for available bikes: 22.59654941860465
Station 110 MSE for available stands: 22.362619186046516
0.45454642997598294
0.44626567466086187
Station 111 MSE for available bikes: 8.354323837209302
Station 111 MSE for available stands: 8.25508546511628
0.6785042646965899
0.6758733936243317
Station 112 MSE for available bikes: 25.803386046511626
Station 112 MSE for available stands: 25.527556976744183
0.7200035571664425
0.7159136209499029
Station 113 MSE for available bikes: 14.18877093023256
Station 113 MSE for available stands: 13.832115116279072
0.6351375482370731
0.6263064706327479
Station 114 MSE for available bikes: 23.824202906976744
Station 114 MSE for available stands: 24.87588779069767
0.8386491635686918
0.8352639264070104
Station 115 MSE for available bikes: 30.952008139534883
Station 115 MSE for available stands: 30.975535465116284
0.6754668925178702
0.6764439925033497

Station 116 MSE for available bikes: 1.8192017441860464
Station 116 MSE for available stands: 1.8368627906976738
0.533867311717276
0.53834907874421
Station 117 MSE for available bikes: 47.70767906976744
Station 117 MSE for available stands: 47.11073837209302
0.5847002101046292
0.5771274790261659

Ignore the rest of this, it was initially used to make a single model.

In [19]:
df = pd.get_dummies(df, columns=['Station', 'Weather', 'Description', 'Day']) # Creates binary indicator columns from categorical variables
X = df.drop(['Available Bikes', 'Available Stands'], axis=1)
y_bikes = df['Available Bikes']
y_stands = df['Available Stands']

X_train, X_test, y_train_bikes, y_test_bikes, y_train_stands,y_test_stands = train_test_split(X, y_bikes, y_stands, \
                                                    test_size=0.2, random_state=36) # random_state is the random seed

# Create a random forest regressor for each target variable with 200 trees
bikesModel = RandomForestRegressor(n_estimators=100, random_state=36)
standsModel = RandomForestRegressor(n_estimators=100, random_state=36)

# Fit the model to the training data
bikesModel.fit(X_train, y_train_bikes)
standsModel.fit(X_train, y_train_stands)

RandomForestRegressor(random_state=36)

In [20]:
# Evaulate model performance
y_pred_bikes = bikesModel.predict(X_test)
y_pred_stands = standsModel.predict(X_test)
# mse is mean squared error, average of the squared differences between the predicted and actual target values
# mse removes negative values and gives more weight to larger errors
mse_bikes = mean_squared_error(y_test_bikes, y_pred_bikes)
mse_stands = mean_squared_error(y_test_stands, y_pred_stands)
print('MSE for available bikes:', mse_bikes)
print('MSE for available stands:', mse_stands)

MSE for available bikes: 24.67081842253233
MSE for available stands: 25.54733317998262

In [83]:
numbers = []
for i in sorted(pd.unique(dfa["number"].ravel())):
    x = 0
    for j in dfa.index:
        if dfa['number'][j] == i:
            x+=1
    numbers.append([i,x])

In [87]:
print(numbers)

[[1, 10280], [2, 10280], [3, 10280], [4, 10280], [5, 10280], [6, 10280], [7, 10280], [8, 10280], [9, 10280], [10, 10280], [11, 10280], [12, 10280], [13, 10280], [14, 10280], [15, 10280], [16, 10280], [17, 10280], [18, 10280], [19, 10280], [20, 10280], [21, 10280], [22, 10280], [23, 10280], [24, 10280], [25, 10280], [26, 10280], [27, 10280], [28, 10280], [29, 10280], [30, 10280], [31, 10280], [32, 10280], [33, 10280], [34, 10280], [35, 10280], [36, 10280], [37, 10280], [38, 10280], [39, 10280], [40, 10280], [41, 10280], [42, 10280], [43, 10280], [44, 10280], [45, 10280], [47, 10280], [48, 10280], [49, 10280], [50, 10280], [51, 10280], [52, 10280], [53, 10280], [54, 10280], [55, 10280], [56, 10280], [57, 10280], [58, 10280], [59, 10280], [60, 10280], [61, 10280], [62, 10280], [63, 10280], [64, 10280], [65, 10280], [66, 10280], [67, 10280], [68, 10280], [69, 10280], [71, 10280], [72, 10280], [73, 10258], [74, 10280], [75, 10280], [76, 10280], [77, 10280], [78, 10280], [79, 10280], [80, 10280], [82, 10280], [83, 10280], [84, 10280], [85, 10280], [86, 10280], [87, 10280], [88, 10280], [89, 10280], [90, 10280], [91, 10280], [92, 10280], [93, 10280], [94, 10280], [95, 10280], [96, 10280], [97, 10280], [98, 10280], [99, 10280], [100, 10280], [101, 10280], [102, 10280], [103, 10280], [104, 10280], [105, 10280], [106, 10280], [107, 10280], [108, 10280], [109, 10280], [110, 10280], [111, 10280], [112, 10280], [113, 10280], [114, 10280], [115, 10280], [116, 10280], [117, 10280], [507, 2647]]

In [21]:
from sklearn.metrics import mean_absolute_error, r2_score
print('MAE: ', mean_absolute_error(y_test_bikes, y_pred_bikes))
r2_score(y_test_bikes, y_pred_bikes)

MAE:  3.576603792874304

0.7237708630607651

In [22]:
print('MAE: ', mean_absolute_error(y_test_stands, y_pred_stands))
r2_score(y_test_stands, y_pred_stands)

MAE:  3.656257220262741

0.7870848285472748